@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

body {
  background: black;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 1%;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div#options {
  display: flex;
  background-color: rgb(51, 50, 49);
  height: 9vh;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}

span {
  display: flex;
  color: white;
  font-size: 30px;
  padding: 5%;
}


.App {
  justify-content: center;
  align-items: center;
}

#btn {
  margin-top: 3%;

}

.button {
  background-color: rgb(192, 13, 13);
  padding: 10px 20px;
  color: white;
}